html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 14px;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

input.input,
select.input,
textarea.input {
    width: 100%;
    padding: 0.6rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    color: #555;
}
textarea.input {
    min-height: 300px;
    resize: vertical;
}
.input::placeholder {
    color: #bbb;
}
.input.input-lg {
    padding: 0.8rem;
    font-size: 1.5rem;
}
.input:focus {
    outline-color: #4CAF50;
}
.btn {
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
}
.btn:hover {
    box-shadow: rgba(0,0,0,0.1) inset 0 0 1px 1px;
}
.btn-green {
    background-color: #4CAF50; /* Green */
    color: white;
}
.btn-default {
    background-color: #fff;
    color: #aaa;
    border: 1px solid #aaa;
    box-sizing: border-box;
}
.btn-default:hover {
    background-color: rgba(0,0,0,0.1);
}
.btn.btn-block {
    width: 100%;
}
.btn.btn-lg {
    padding: 1rem;
    font-size: 1.2rem;
}
.icon-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-size: 1rem;
    color: #aaa;
    cursor: pointer;
    display: inline-block;
}
.icon-btn:hover {
    background-color: rgba(0,0,0,0.1);
}
