<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">

    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/api.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/api.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/request.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/exception.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/exception.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SCHEDULER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/scheduler.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/scheduler.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%boldBlue(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.hibernate.type" level="trace"/>
    </springProfile>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.hibernate.type" level="trace"/>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="ROOT"/>
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.northbr.api.core.aop.LoggingAspect" level="debug">
            <appender-ref ref="REQUEST"/>
        </logger>
        <logger name="com.northbr.api.core.exception.ExceptionControllerAdvice" level="debug">
            <appender-ref ref="EXCEPTION"/>
        </logger>
        <logger name="com.northbr.api.schedule" level="debug">
            <appender-ref ref="SCHEDULER"/>
        </logger>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ROOT"/>
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="com.northbr.api.core.handler.LoggingInterceptor" level="INFO">
            <appender-ref ref="REQUEST"/>
        </logger>
        <logger name="com.northbr.web.core.exception" level="ERROR">
            <appender-ref ref="EXCEPTION"/>
        </logger>
        <logger name="com.northbr.api.schedule" level="INFO">
            <appender-ref ref="SCHEDULER"/>
        </logger>
    </springProfile>

</configuration>
